In [27]:
import selenium
import pandas as pd
from selenium import webdriver

In [28]:
driver = webdriver.Chrome(executable_path="D:\\chromedriver_win32\\chromedriver.exe")

In [29]:
driver.get('https://www.naukri.com/')

In [30]:
search_job = driver.find_element_by_id('qsb-keyword-sugg')
search_job.send_keys("Data Analyst")
search_loc = driver .find_element_by_xpath("//input[@id='qsb-location-sugg']")
search_loc.send_keys("Bangalore")

In [31]:
search_btn=driver.find_element_by_xpath("//div[@class='search-btn']/button")
search_btn.click()

In [32]:
url="https://www.naukri.com/data-analyst-jobs-in-bangalore?k=data%20analyst&l=bangalore"

In [33]:
driver.get(url)

In [34]:
job_titles=[]
company_names=[]
location_lists=[]
experiences_required=[]

In [35]:
title_tags=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
title_tags[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="bf090d4ab049a0156c0dc09edaa8eb84", element="fb43a6cf-82af-46f7-9465-2f0678903478")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bf090d4ab049a0156c0dc09edaa8eb84", element="3c13b552-12c5-4590-b748-3a7eab3ba947")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bf090d4ab049a0156c0dc09edaa8eb84", element="12ee6905-8787-4d0d-a97a-97e419e0a223")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bf090d4ab049a0156c0dc09edaa8eb84", element="c5f11146-0dd8-4c63-ab9a-b13461f222b2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bf090d4ab049a0156c0dc09edaa8eb84", element="12369a4d-9cad-4937-a2ac-e4be6264cb59")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bf090d4ab049a0156c0dc09edaa8eb84", element="79111fe4-4840-44dc-83da-4d22b8cdb318")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bf090d4ab049a0156c0dc09edaa8eb84", element="ccb4712f-9db8-4b9d-a431-8eb43c7d20c6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bf090d4ab049a0156c0dc09edaa8eb84", element="540e093f-f6ce-41c0-92ea-6583d8a8805b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bf090d4ab049a0156c0dc09edaa8eb84", element="4b268314-7851-485f-bb54-9e08a8762ebb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bf090d4ab049a0156c0dc09edaa8eb84", element="97dbb343-ccb4-46b6-ba96-190bfe1a23cd")>]

In [36]:
for i in title_tags:
    title=i.text
    job_titles.append(title)
job_titles[0:10]

['Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Senior Data Analyst']

In [37]:
companies_tags=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
companies_tags[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="bf090d4ab049a0156c0dc09edaa8eb84", element="fad4f53b-3148-4c36-9501-eaf42b940a9f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bf090d4ab049a0156c0dc09edaa8eb84", element="006093f5-561b-463e-a671-291d09ecdb99")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bf090d4ab049a0156c0dc09edaa8eb84", element="1767c151-3aaf-4bef-b743-3ce9bbebf8f4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bf090d4ab049a0156c0dc09edaa8eb84", element="29fa0abb-2eca-4161-b9b2-75fe8065f5ac")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bf090d4ab049a0156c0dc09edaa8eb84", element="68c92727-da5d-40b2-8816-4d707cd529de")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bf090d4ab049a0156c0dc09edaa8eb84", element="03720ce2-8950-47ba-acb9-85c5ca08aa1d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bf090d4ab049a0156c0dc09edaa8eb84", element="acd884e6-4ab2-4df3-b791-1e839f92cef8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bf090d4ab049a0156c0dc09edaa8eb84", element="f05e7801-b881-471f-88b1-06f91d7eab3a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bf090d4ab049a0156c0dc09edaa8eb84", element="623e354e-33b3-46f6-bb69-5cd42613b154")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bf090d4ab049a0156c0dc09edaa8eb84", element="8f6fb79b-b551-4e54-bb5a-475224be89d3")>]

In [38]:
for i in companies_tags:
    company_name=i.text
    company_names.append(company_name)
company_names[0:10]

['RedLock, Inc',
 'Super India Tech Mark',
 'tech mahindra ltd',
 'CONDUENT BUSINESS SERVICES INDIA LLP',
 'GlaxoSmithKline Pharmaceuticals Limited',
 'Myntra Designs Pvt. Ltd.',
 'Myntra Designs Pvt. Ltd.',
 'Myntra Designs Pvt. Ltd.',
 'WEIWO Communication Pvt. Ltd.',
 'Cerner']

In [39]:
locations_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span[1]")
locations_tags[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="bf090d4ab049a0156c0dc09edaa8eb84", element="4beaa83b-5aeb-4f4c-9530-117ca559760b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bf090d4ab049a0156c0dc09edaa8eb84", element="7e53797a-0d5c-48d0-8bb9-faad1b1ec366")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bf090d4ab049a0156c0dc09edaa8eb84", element="cbd0bb18-b4f8-4b97-8c15-74c761086d9f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bf090d4ab049a0156c0dc09edaa8eb84", element="13bf136d-33a5-4a97-831b-b67aa6e4dfa0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bf090d4ab049a0156c0dc09edaa8eb84", element="a16397d6-4497-4d67-a214-d006bbe01c36")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bf090d4ab049a0156c0dc09edaa8eb84", element="099caf0a-c62e-47e0-87eb-49b8b7f966c9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bf090d4ab049a0156c0dc09edaa8eb84", element="2f85ca9c-f242-48a0-87ec-cacc72a8b277")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bf090d4ab049a0156c0dc09edaa8eb84", element="7bf865fb-ded5-42cb-ab93-de5d3cbaf570")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bf090d4ab049a0156c0dc09edaa8eb84", element="c61521f8-5702-4dea-86cd-e76033b4e4e0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bf090d4ab049a0156c0dc09edaa8eb84", element="10a80900-9660-4bee-a973-a4a5d2612866")>]

In [40]:
for i in locations_tags:
    location_list=i.text
    location_lists.append(location_list)
location_lists[0:10]

['Bangalore/Bengaluru',
 'Bangalore/Bengaluru(Devalapur)',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru(Ulsoor)',
 'Bangalore/Bengaluru']

In [41]:
experience_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']")
experience_tags[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="bf090d4ab049a0156c0dc09edaa8eb84", element="daa10838-5e0f-4be5-a209-017edc779e54")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bf090d4ab049a0156c0dc09edaa8eb84", element="a830f8c4-1a69-480e-ac38-a177b781034c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bf090d4ab049a0156c0dc09edaa8eb84", element="164a04a9-2d1b-4298-9d82-e6dfac852839")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bf090d4ab049a0156c0dc09edaa8eb84", element="c19b9f4a-d905-4feb-8ae9-061496d1b414")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bf090d4ab049a0156c0dc09edaa8eb84", element="a9151a3d-7aca-488a-887c-9216b16b9244")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bf090d4ab049a0156c0dc09edaa8eb84", element="e390dff4-8d94-4fca-869c-27dcb117b2cf")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bf090d4ab049a0156c0dc09edaa8eb84", element="75d924fd-a4e0-4a25-ad63-2a22842179d6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bf090d4ab049a0156c0dc09edaa8eb84", element="cfdfcf52-3e7d-421c-b6c2-9c514984c2e5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bf090d4ab049a0156c0dc09edaa8eb84", element="8ff5afb6-c547-44de-b8a5-fee804c0f10d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bf090d4ab049a0156c0dc09edaa8eb84", element="35d64dbf-16f0-4695-b0d7-d8ffceb43715")>]

In [42]:
for i in experience_tags:
    experience_required=i.text
    experiences_required.append(experience_required)
experiences_required[0:10]

['0-0 Yrs',
 '0-2 Yrs',
 '4-8 Yrs',
 '1-2 Yrs',
 '2-7 Yrs',
 '3-6 Yrs',
 '4-8 Yrs',
 '4-8 Yrs',
 '5-8 Yrs',
 '3-5 Yrs']

In [43]:
print(len(job_titles), len(company_names), len(location_lists), len(experiences_required))

20 20 20 20

In [44]:
import pandas as pd
jobs=pd.DataFrame({})
jobs['title']=job_titles[:10]
jobs['company']=company_names[:10]
jobs['location']=location_lists[:10]
jobs['experience']=experiences_required[:10]

In [45]:
jobs

,title,company,location,experience
0,Data Analyst,"RedLock, Inc",Bangalore/Bengaluru,0-0 Yrs
1,Data Analyst,Super India Tech Mark,Bangalore/Bengaluru(Devalapur),0-2 Yrs
2,Data Analyst,tech mahindra ltd,Bangalore/Bengaluru,4-8 Yrs
3,Data Analyst,CONDUENT BUSINESS SERVICES INDIA LLP,Bangalore/Bengaluru,1-2 Yrs
4,Data Analyst,GlaxoSmithKline Pharmaceuticals Limited,Bangalore/Bengaluru,2-7 Yrs
5,Data Analyst,Myntra Designs Pvt. Ltd.,Bangalore/Bengaluru,3-6 Yrs
6,Data Analyst,Myntra Designs Pvt. Ltd.,Bangalore/Bengaluru,4-8 Yrs
7,Data Analyst,Myntra Designs Pvt. Ltd.,Bangalore/Bengaluru,4-8 Yrs
8,Data Analyst,WEIWO Communication Pvt. Ltd.,Bangalore/Bengaluru(Ulsoor),5-8 Yrs
9,Senior Data Analyst,Cerner,Bangalore/Bengaluru,3-5 Yrs

In [46]:
import pickle
filename= 'Selenium AssignmentQ1.pkl'
pickle.dump(jobs,open(filename,'wb'))